body {
  background: #fff;
  font: 13px/1.333em Arial, Helvetica, sans-serif;
  color: #52534a; 
}

p {
  margin: 0 0 0.2em;
}

h1, h2 {
  color: #52534a;
  font-size: 20px;
  margin: 10px 0 0;
  font-weight: normal;
  border-bottom: 6px solid #52534a;
}

h2 {
  color: #a87342;
  border-bottom-color: #a87342;
}


a {
  color: #a87342;
  text-decoration: underline;
}