body {
  background: #fff;
  font: 13px/1.333em Arial, Helvetica, sans-serif;
  color: #333; 
}

p {
  margin: 0 0 0.2em;
}
h1, h2 {
  color: #333;
  font-size: 20px;
  margin: 10px 0 0;
}
h2 {
  font-size: 18px;
}
a {

}